mixin tw-nav-link-gray(href, active)
  a.px-3.py-2.rounded-md.text-sm.font-medium(
    href=href
    aria-current='page' 
    class=active === href ? 'bg-gray-900 text-white' :  'text-gray-300 hover_bg-gray-700 hover_text-white'
    )
    block

      
mixin tw-nav-link-red(href, active)
  a.px-3.py-2.rounded-md.text-sm.font-medium(
    href=href
    aria-current='page' 
    class=active === href ? 'bg-red-900 text-white' :  'text-red-300 hover_bg-red-700 hover_text-white'
    )
    block

      
mixin tw-nav-link-yellow(href, active)
  a.px-3.py-2.rounded-md.text-sm.font-medium(
    href=href
    aria-current='page' 
    class=active === href ? 'bg-yellow-900 text-white' :  'text-yellow-300 hover_bg-yellow-700 hover_text-white'
    )
    block

      
mixin tw-nav-link-green(href, active)
  a.px-3.py-2.rounded-md.text-sm.font-medium(
    href=href
    aria-current='page' 
    class=active === href ? 'bg-green-900 text-white' :  'text-green-300 hover_bg-green-700 hover_text-white'
    )
    block

      
mixin tw-nav-link-blue(href, active)
  a.px-3.py-2.rounded-md.text-sm.font-medium(
    href=href
    aria-current='page' 
    class=active === href ? 'bg-blue-900 text-white' :  'text-blue-300 hover_bg-blue-700 hover_text-white'
    )
    block

      
mixin tw-nav-link-indigo(href, active)
  a.px-3.py-2.rounded-md.text-sm.font-medium(
    href=href
    aria-current='page' 
    class=active === href ? 'bg-indigo-900 text-white' :  'text-indigo-300 hover_bg-indigo-700 hover_text-white'
    )
    block

      
mixin tw-nav-link-purple(href, active)
  a.px-3.py-2.rounded-md.text-sm.font-medium(
    href=href
    aria-current='page' 
    class=active === href ? 'bg-purple-900 text-white' :  'text-purple-300 hover_bg-purple-700 hover_text-white'
    )
    block

      
mixin tw-nav-link-pink(href, active)
  a.px-3.py-2.rounded-md.text-sm.font-medium(
    href=href
    aria-current='page' 
    class=active === href ? 'bg-pink-900 text-white' :  'text-pink-300 hover_bg-pink-700 hover_text-white'
    )
    block

      
