mixin tw-btn-light-xs-gray()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-bold.rounded-md(
    type='button' 
    class='hover_bg-gray-700 hover_text-white focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-gray-500 text-xs bg-gray-100 text-gray-600 ')&attributes(attributes)
    block
    
mixin tw-btn-light-xs-red()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-bold.rounded-md(
    type='button' 
    class='hover_bg-red-700 hover_text-white focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-red-500 text-xs bg-red-100 text-red-600 ')&attributes(attributes)
    block
    
mixin tw-btn-light-xs-yellow()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-bold.rounded-md(
    type='button' 
    class='hover_bg-yellow-700 hover_text-white focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-yellow-500 text-xs bg-yellow-100 text-yellow-600 ')&attributes(attributes)
    block
    
mixin tw-btn-light-xs-green()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-bold.rounded-md(
    type='button' 
    class='hover_bg-green-700 hover_text-white focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-green-500 text-xs bg-green-100 text-green-600 ')&attributes(attributes)
    block
    
mixin tw-btn-light-xs-blue()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-bold.rounded-md(
    type='button' 
    class='hover_bg-blue-700 hover_text-white focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-blue-500 text-xs bg-blue-100 text-blue-600 ')&attributes(attributes)
    block
    
mixin tw-btn-light-xs-indigo()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-bold.rounded-md(
    type='button' 
    class='hover_bg-indigo-700 hover_text-white focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-indigo-500 text-xs bg-indigo-100 text-indigo-600 ')&attributes(attributes)
    block
    
mixin tw-btn-light-xs-purple()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-bold.rounded-md(
    type='button' 
    class='hover_bg-purple-700 hover_text-white focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-purple-500 text-xs bg-purple-100 text-purple-600 ')&attributes(attributes)
    block
    
mixin tw-btn-light-xs-pink()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-bold.rounded-md(
    type='button' 
    class='hover_bg-pink-700 hover_text-white focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-pink-500 text-xs bg-pink-100 text-pink-600 ')&attributes(attributes)
    block
    
mixin tw-btn-light-sm-gray()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-bold.rounded-md(
    type='button' 
    class='hover_bg-gray-700 hover_text-white focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-gray-500 text-sm bg-gray-100 text-gray-600 ')&attributes(attributes)
    block
    
mixin tw-btn-light-sm-red()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-bold.rounded-md(
    type='button' 
    class='hover_bg-red-700 hover_text-white focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-red-500 text-sm bg-red-100 text-red-600 ')&attributes(attributes)
    block
    
mixin tw-btn-light-sm-yellow()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-bold.rounded-md(
    type='button' 
    class='hover_bg-yellow-700 hover_text-white focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-yellow-500 text-sm bg-yellow-100 text-yellow-600 ')&attributes(attributes)
    block
    
mixin tw-btn-light-sm-green()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-bold.rounded-md(
    type='button' 
    class='hover_bg-green-700 hover_text-white focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-green-500 text-sm bg-green-100 text-green-600 ')&attributes(attributes)
    block
    
mixin tw-btn-light-sm-blue()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-bold.rounded-md(
    type='button' 
    class='hover_bg-blue-700 hover_text-white focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-blue-500 text-sm bg-blue-100 text-blue-600 ')&attributes(attributes)
    block
    
mixin tw-btn-light-sm-indigo()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-bold.rounded-md(
    type='button' 
    class='hover_bg-indigo-700 hover_text-white focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-indigo-500 text-sm bg-indigo-100 text-indigo-600 ')&attributes(attributes)
    block
    
mixin tw-btn-light-sm-purple()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-bold.rounded-md(
    type='button' 
    class='hover_bg-purple-700 hover_text-white focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-purple-500 text-sm bg-purple-100 text-purple-600 ')&attributes(attributes)
    block
    
mixin tw-btn-light-sm-pink()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-bold.rounded-md(
    type='button' 
    class='hover_bg-pink-700 hover_text-white focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-pink-500 text-sm bg-pink-100 text-pink-600 ')&attributes(attributes)
    block
    
mixin tw-btn-light-base-gray()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-bold.rounded-md(
    type='button' 
    class='hover_bg-gray-700 hover_text-white focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-gray-500 text-base bg-gray-100 text-gray-600 ')&attributes(attributes)
    block
    
mixin tw-btn-light-base-red()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-bold.rounded-md(
    type='button' 
    class='hover_bg-red-700 hover_text-white focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-red-500 text-base bg-red-100 text-red-600 ')&attributes(attributes)
    block
    
mixin tw-btn-light-base-yellow()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-bold.rounded-md(
    type='button' 
    class='hover_bg-yellow-700 hover_text-white focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-yellow-500 text-base bg-yellow-100 text-yellow-600 ')&attributes(attributes)
    block
    
mixin tw-btn-light-base-green()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-bold.rounded-md(
    type='button' 
    class='hover_bg-green-700 hover_text-white focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-green-500 text-base bg-green-100 text-green-600 ')&attributes(attributes)
    block
    
mixin tw-btn-light-base-blue()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-bold.rounded-md(
    type='button' 
    class='hover_bg-blue-700 hover_text-white focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-blue-500 text-base bg-blue-100 text-blue-600 ')&attributes(attributes)
    block
    
mixin tw-btn-light-base-indigo()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-bold.rounded-md(
    type='button' 
    class='hover_bg-indigo-700 hover_text-white focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-indigo-500 text-base bg-indigo-100 text-indigo-600 ')&attributes(attributes)
    block
    
mixin tw-btn-light-base-purple()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-bold.rounded-md(
    type='button' 
    class='hover_bg-purple-700 hover_text-white focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-purple-500 text-base bg-purple-100 text-purple-600 ')&attributes(attributes)
    block
    
mixin tw-btn-light-base-pink()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-bold.rounded-md(
    type='button' 
    class='hover_bg-pink-700 hover_text-white focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-pink-500 text-base bg-pink-100 text-pink-600 ')&attributes(attributes)
    block
    
mixin tw-btn-light-lg-gray()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-bold.rounded-md(
    type='button' 
    class='hover_bg-gray-700 hover_text-white focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-gray-500 text-lg bg-gray-100 text-gray-600 ')&attributes(attributes)
    block
    
mixin tw-btn-light-lg-red()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-bold.rounded-md(
    type='button' 
    class='hover_bg-red-700 hover_text-white focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-red-500 text-lg bg-red-100 text-red-600 ')&attributes(attributes)
    block
    
mixin tw-btn-light-lg-yellow()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-bold.rounded-md(
    type='button' 
    class='hover_bg-yellow-700 hover_text-white focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-yellow-500 text-lg bg-yellow-100 text-yellow-600 ')&attributes(attributes)
    block
    
mixin tw-btn-light-lg-green()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-bold.rounded-md(
    type='button' 
    class='hover_bg-green-700 hover_text-white focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-green-500 text-lg bg-green-100 text-green-600 ')&attributes(attributes)
    block
    
mixin tw-btn-light-lg-blue()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-bold.rounded-md(
    type='button' 
    class='hover_bg-blue-700 hover_text-white focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-blue-500 text-lg bg-blue-100 text-blue-600 ')&attributes(attributes)
    block
    
mixin tw-btn-light-lg-indigo()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-bold.rounded-md(
    type='button' 
    class='hover_bg-indigo-700 hover_text-white focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-indigo-500 text-lg bg-indigo-100 text-indigo-600 ')&attributes(attributes)
    block
    
mixin tw-btn-light-lg-purple()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-bold.rounded-md(
    type='button' 
    class='hover_bg-purple-700 hover_text-white focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-purple-500 text-lg bg-purple-100 text-purple-600 ')&attributes(attributes)
    block
    
mixin tw-btn-light-lg-pink()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-bold.rounded-md(
    type='button' 
    class='hover_bg-pink-700 hover_text-white focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-pink-500 text-lg bg-pink-100 text-pink-600 ')&attributes(attributes)
    block
    
mixin tw-btn-light-xl-gray()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-bold.rounded-md(
    type='button' 
    class='hover_bg-gray-700 hover_text-white focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-gray-500 text-xl bg-gray-100 text-gray-600 ')&attributes(attributes)
    block
    
mixin tw-btn-light-xl-red()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-bold.rounded-md(
    type='button' 
    class='hover_bg-red-700 hover_text-white focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-red-500 text-xl bg-red-100 text-red-600 ')&attributes(attributes)
    block
    
mixin tw-btn-light-xl-yellow()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-bold.rounded-md(
    type='button' 
    class='hover_bg-yellow-700 hover_text-white focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-yellow-500 text-xl bg-yellow-100 text-yellow-600 ')&attributes(attributes)
    block
    
mixin tw-btn-light-xl-green()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-bold.rounded-md(
    type='button' 
    class='hover_bg-green-700 hover_text-white focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-green-500 text-xl bg-green-100 text-green-600 ')&attributes(attributes)
    block
    
mixin tw-btn-light-xl-blue()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-bold.rounded-md(
    type='button' 
    class='hover_bg-blue-700 hover_text-white focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-blue-500 text-xl bg-blue-100 text-blue-600 ')&attributes(attributes)
    block
    
mixin tw-btn-light-xl-indigo()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-bold.rounded-md(
    type='button' 
    class='hover_bg-indigo-700 hover_text-white focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-indigo-500 text-xl bg-indigo-100 text-indigo-600 ')&attributes(attributes)
    block
    
mixin tw-btn-light-xl-purple()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-bold.rounded-md(
    type='button' 
    class='hover_bg-purple-700 hover_text-white focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-purple-500 text-xl bg-purple-100 text-purple-600 ')&attributes(attributes)
    block
    
mixin tw-btn-light-xl-pink()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-bold.rounded-md(
    type='button' 
    class='hover_bg-pink-700 hover_text-white focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-pink-500 text-xl bg-pink-100 text-pink-600 ')&attributes(attributes)
    block
    
mixin tw-btn-light-2xl-gray()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-bold.rounded-md(
    type='button' 
    class='hover_bg-gray-700 hover_text-white focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-gray-500 text-2xl bg-gray-100 text-gray-600 ')&attributes(attributes)
    block
    
mixin tw-btn-light-2xl-red()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-bold.rounded-md(
    type='button' 
    class='hover_bg-red-700 hover_text-white focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-red-500 text-2xl bg-red-100 text-red-600 ')&attributes(attributes)
    block
    
mixin tw-btn-light-2xl-yellow()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-bold.rounded-md(
    type='button' 
    class='hover_bg-yellow-700 hover_text-white focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-yellow-500 text-2xl bg-yellow-100 text-yellow-600 ')&attributes(attributes)
    block
    
mixin tw-btn-light-2xl-green()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-bold.rounded-md(
    type='button' 
    class='hover_bg-green-700 hover_text-white focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-green-500 text-2xl bg-green-100 text-green-600 ')&attributes(attributes)
    block
    
mixin tw-btn-light-2xl-blue()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-bold.rounded-md(
    type='button' 
    class='hover_bg-blue-700 hover_text-white focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-blue-500 text-2xl bg-blue-100 text-blue-600 ')&attributes(attributes)
    block
    
mixin tw-btn-light-2xl-indigo()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-bold.rounded-md(
    type='button' 
    class='hover_bg-indigo-700 hover_text-white focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-indigo-500 text-2xl bg-indigo-100 text-indigo-600 ')&attributes(attributes)
    block
    
mixin tw-btn-light-2xl-purple()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-bold.rounded-md(
    type='button' 
    class='hover_bg-purple-700 hover_text-white focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-purple-500 text-2xl bg-purple-100 text-purple-600 ')&attributes(attributes)
    block
    
mixin tw-btn-light-2xl-pink()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-bold.rounded-md(
    type='button' 
    class='hover_bg-pink-700 hover_text-white focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-pink-500 text-2xl bg-pink-100 text-pink-600 ')&attributes(attributes)
    block
    
mixin tw-btn-light-3xl-gray()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-bold.rounded-md(
    type='button' 
    class='hover_bg-gray-700 hover_text-white focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-gray-500 text-3xl bg-gray-100 text-gray-600 ')&attributes(attributes)
    block
    
mixin tw-btn-light-3xl-red()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-bold.rounded-md(
    type='button' 
    class='hover_bg-red-700 hover_text-white focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-red-500 text-3xl bg-red-100 text-red-600 ')&attributes(attributes)
    block
    
mixin tw-btn-light-3xl-yellow()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-bold.rounded-md(
    type='button' 
    class='hover_bg-yellow-700 hover_text-white focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-yellow-500 text-3xl bg-yellow-100 text-yellow-600 ')&attributes(attributes)
    block
    
mixin tw-btn-light-3xl-green()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-bold.rounded-md(
    type='button' 
    class='hover_bg-green-700 hover_text-white focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-green-500 text-3xl bg-green-100 text-green-600 ')&attributes(attributes)
    block
    
mixin tw-btn-light-3xl-blue()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-bold.rounded-md(
    type='button' 
    class='hover_bg-blue-700 hover_text-white focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-blue-500 text-3xl bg-blue-100 text-blue-600 ')&attributes(attributes)
    block
    
mixin tw-btn-light-3xl-indigo()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-bold.rounded-md(
    type='button' 
    class='hover_bg-indigo-700 hover_text-white focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-indigo-500 text-3xl bg-indigo-100 text-indigo-600 ')&attributes(attributes)
    block
    
mixin tw-btn-light-3xl-purple()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-bold.rounded-md(
    type='button' 
    class='hover_bg-purple-700 hover_text-white focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-purple-500 text-3xl bg-purple-100 text-purple-600 ')&attributes(attributes)
    block
    
mixin tw-btn-light-3xl-pink()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-bold.rounded-md(
    type='button' 
    class='hover_bg-pink-700 hover_text-white focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-pink-500 text-3xl bg-pink-100 text-pink-600 ')&attributes(attributes)
    block
    
mixin tw-btn-light-4xl-gray()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-bold.rounded-md(
    type='button' 
    class='hover_bg-gray-700 hover_text-white focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-gray-500 text-4xl bg-gray-100 text-gray-600 ')&attributes(attributes)
    block
    
mixin tw-btn-light-4xl-red()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-bold.rounded-md(
    type='button' 
    class='hover_bg-red-700 hover_text-white focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-red-500 text-4xl bg-red-100 text-red-600 ')&attributes(attributes)
    block
    
mixin tw-btn-light-4xl-yellow()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-bold.rounded-md(
    type='button' 
    class='hover_bg-yellow-700 hover_text-white focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-yellow-500 text-4xl bg-yellow-100 text-yellow-600 ')&attributes(attributes)
    block
    
mixin tw-btn-light-4xl-green()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-bold.rounded-md(
    type='button' 
    class='hover_bg-green-700 hover_text-white focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-green-500 text-4xl bg-green-100 text-green-600 ')&attributes(attributes)
    block
    
mixin tw-btn-light-4xl-blue()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-bold.rounded-md(
    type='button' 
    class='hover_bg-blue-700 hover_text-white focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-blue-500 text-4xl bg-blue-100 text-blue-600 ')&attributes(attributes)
    block
    
mixin tw-btn-light-4xl-indigo()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-bold.rounded-md(
    type='button' 
    class='hover_bg-indigo-700 hover_text-white focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-indigo-500 text-4xl bg-indigo-100 text-indigo-600 ')&attributes(attributes)
    block
    
mixin tw-btn-light-4xl-purple()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-bold.rounded-md(
    type='button' 
    class='hover_bg-purple-700 hover_text-white focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-purple-500 text-4xl bg-purple-100 text-purple-600 ')&attributes(attributes)
    block
    
mixin tw-btn-light-4xl-pink()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-bold.rounded-md(
    type='button' 
    class='hover_bg-pink-700 hover_text-white focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-pink-500 text-4xl bg-pink-100 text-pink-600 ')&attributes(attributes)
    block
    
mixin tw-btn-light-5xl-gray()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-bold.rounded-md(
    type='button' 
    class='hover_bg-gray-700 hover_text-white focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-gray-500 text-5xl bg-gray-100 text-gray-600 ')&attributes(attributes)
    block
    
mixin tw-btn-light-5xl-red()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-bold.rounded-md(
    type='button' 
    class='hover_bg-red-700 hover_text-white focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-red-500 text-5xl bg-red-100 text-red-600 ')&attributes(attributes)
    block
    
mixin tw-btn-light-5xl-yellow()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-bold.rounded-md(
    type='button' 
    class='hover_bg-yellow-700 hover_text-white focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-yellow-500 text-5xl bg-yellow-100 text-yellow-600 ')&attributes(attributes)
    block
    
mixin tw-btn-light-5xl-green()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-bold.rounded-md(
    type='button' 
    class='hover_bg-green-700 hover_text-white focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-green-500 text-5xl bg-green-100 text-green-600 ')&attributes(attributes)
    block
    
mixin tw-btn-light-5xl-blue()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-bold.rounded-md(
    type='button' 
    class='hover_bg-blue-700 hover_text-white focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-blue-500 text-5xl bg-blue-100 text-blue-600 ')&attributes(attributes)
    block
    
mixin tw-btn-light-5xl-indigo()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-bold.rounded-md(
    type='button' 
    class='hover_bg-indigo-700 hover_text-white focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-indigo-500 text-5xl bg-indigo-100 text-indigo-600 ')&attributes(attributes)
    block
    
mixin tw-btn-light-5xl-purple()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-bold.rounded-md(
    type='button' 
    class='hover_bg-purple-700 hover_text-white focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-purple-500 text-5xl bg-purple-100 text-purple-600 ')&attributes(attributes)
    block
    
mixin tw-btn-light-5xl-pink()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-bold.rounded-md(
    type='button' 
    class='hover_bg-pink-700 hover_text-white focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-pink-500 text-5xl bg-pink-100 text-pink-600 ')&attributes(attributes)
    block
    
mixin tw-btn-light-6xl-gray()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-bold.rounded-md(
    type='button' 
    class='hover_bg-gray-700 hover_text-white focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-gray-500 text-6xl bg-gray-100 text-gray-600 ')&attributes(attributes)
    block
    
mixin tw-btn-light-6xl-red()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-bold.rounded-md(
    type='button' 
    class='hover_bg-red-700 hover_text-white focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-red-500 text-6xl bg-red-100 text-red-600 ')&attributes(attributes)
    block
    
mixin tw-btn-light-6xl-yellow()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-bold.rounded-md(
    type='button' 
    class='hover_bg-yellow-700 hover_text-white focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-yellow-500 text-6xl bg-yellow-100 text-yellow-600 ')&attributes(attributes)
    block
    
mixin tw-btn-light-6xl-green()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-bold.rounded-md(
    type='button' 
    class='hover_bg-green-700 hover_text-white focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-green-500 text-6xl bg-green-100 text-green-600 ')&attributes(attributes)
    block
    
mixin tw-btn-light-6xl-blue()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-bold.rounded-md(
    type='button' 
    class='hover_bg-blue-700 hover_text-white focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-blue-500 text-6xl bg-blue-100 text-blue-600 ')&attributes(attributes)
    block
    
mixin tw-btn-light-6xl-indigo()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-bold.rounded-md(
    type='button' 
    class='hover_bg-indigo-700 hover_text-white focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-indigo-500 text-6xl bg-indigo-100 text-indigo-600 ')&attributes(attributes)
    block
    
mixin tw-btn-light-6xl-purple()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-bold.rounded-md(
    type='button' 
    class='hover_bg-purple-700 hover_text-white focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-purple-500 text-6xl bg-purple-100 text-purple-600 ')&attributes(attributes)
    block
    
mixin tw-btn-light-6xl-pink()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-bold.rounded-md(
    type='button' 
    class='hover_bg-pink-700 hover_text-white focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-pink-500 text-6xl bg-pink-100 text-pink-600 ')&attributes(attributes)
    block
    
mixin tw-btn-light-7xl-gray()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-bold.rounded-md(
    type='button' 
    class='hover_bg-gray-700 hover_text-white focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-gray-500 text-7xl bg-gray-100 text-gray-600 ')&attributes(attributes)
    block
    
mixin tw-btn-light-7xl-red()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-bold.rounded-md(
    type='button' 
    class='hover_bg-red-700 hover_text-white focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-red-500 text-7xl bg-red-100 text-red-600 ')&attributes(attributes)
    block
    
mixin tw-btn-light-7xl-yellow()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-bold.rounded-md(
    type='button' 
    class='hover_bg-yellow-700 hover_text-white focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-yellow-500 text-7xl bg-yellow-100 text-yellow-600 ')&attributes(attributes)
    block
    
mixin tw-btn-light-7xl-green()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-bold.rounded-md(
    type='button' 
    class='hover_bg-green-700 hover_text-white focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-green-500 text-7xl bg-green-100 text-green-600 ')&attributes(attributes)
    block
    
mixin tw-btn-light-7xl-blue()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-bold.rounded-md(
    type='button' 
    class='hover_bg-blue-700 hover_text-white focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-blue-500 text-7xl bg-blue-100 text-blue-600 ')&attributes(attributes)
    block
    
mixin tw-btn-light-7xl-indigo()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-bold.rounded-md(
    type='button' 
    class='hover_bg-indigo-700 hover_text-white focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-indigo-500 text-7xl bg-indigo-100 text-indigo-600 ')&attributes(attributes)
    block
    
mixin tw-btn-light-7xl-purple()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-bold.rounded-md(
    type='button' 
    class='hover_bg-purple-700 hover_text-white focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-purple-500 text-7xl bg-purple-100 text-purple-600 ')&attributes(attributes)
    block
    
mixin tw-btn-light-7xl-pink()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-bold.rounded-md(
    type='button' 
    class='hover_bg-pink-700 hover_text-white focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-pink-500 text-7xl bg-pink-100 text-pink-600 ')&attributes(attributes)
    block
    
mixin tw-btn-light-8xl-gray()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-bold.rounded-md(
    type='button' 
    class='hover_bg-gray-700 hover_text-white focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-gray-500 text-8xl bg-gray-100 text-gray-600 ')&attributes(attributes)
    block
    
mixin tw-btn-light-8xl-red()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-bold.rounded-md(
    type='button' 
    class='hover_bg-red-700 hover_text-white focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-red-500 text-8xl bg-red-100 text-red-600 ')&attributes(attributes)
    block
    
mixin tw-btn-light-8xl-yellow()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-bold.rounded-md(
    type='button' 
    class='hover_bg-yellow-700 hover_text-white focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-yellow-500 text-8xl bg-yellow-100 text-yellow-600 ')&attributes(attributes)
    block
    
mixin tw-btn-light-8xl-green()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-bold.rounded-md(
    type='button' 
    class='hover_bg-green-700 hover_text-white focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-green-500 text-8xl bg-green-100 text-green-600 ')&attributes(attributes)
    block
    
mixin tw-btn-light-8xl-blue()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-bold.rounded-md(
    type='button' 
    class='hover_bg-blue-700 hover_text-white focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-blue-500 text-8xl bg-blue-100 text-blue-600 ')&attributes(attributes)
    block
    
mixin tw-btn-light-8xl-indigo()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-bold.rounded-md(
    type='button' 
    class='hover_bg-indigo-700 hover_text-white focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-indigo-500 text-8xl bg-indigo-100 text-indigo-600 ')&attributes(attributes)
    block
    
mixin tw-btn-light-8xl-purple()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-bold.rounded-md(
    type='button' 
    class='hover_bg-purple-700 hover_text-white focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-purple-500 text-8xl bg-purple-100 text-purple-600 ')&attributes(attributes)
    block
    
mixin tw-btn-light-8xl-pink()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-bold.rounded-md(
    type='button' 
    class='hover_bg-pink-700 hover_text-white focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-pink-500 text-8xl bg-pink-100 text-pink-600 ')&attributes(attributes)
    block
    
mixin tw-btn-light-9xl-gray()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-bold.rounded-md(
    type='button' 
    class='hover_bg-gray-700 hover_text-white focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-gray-500 text-9xl bg-gray-100 text-gray-600 ')&attributes(attributes)
    block
    
mixin tw-btn-light-9xl-red()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-bold.rounded-md(
    type='button' 
    class='hover_bg-red-700 hover_text-white focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-red-500 text-9xl bg-red-100 text-red-600 ')&attributes(attributes)
    block
    
mixin tw-btn-light-9xl-yellow()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-bold.rounded-md(
    type='button' 
    class='hover_bg-yellow-700 hover_text-white focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-yellow-500 text-9xl bg-yellow-100 text-yellow-600 ')&attributes(attributes)
    block
    
mixin tw-btn-light-9xl-green()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-bold.rounded-md(
    type='button' 
    class='hover_bg-green-700 hover_text-white focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-green-500 text-9xl bg-green-100 text-green-600 ')&attributes(attributes)
    block
    
mixin tw-btn-light-9xl-blue()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-bold.rounded-md(
    type='button' 
    class='hover_bg-blue-700 hover_text-white focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-blue-500 text-9xl bg-blue-100 text-blue-600 ')&attributes(attributes)
    block
    
mixin tw-btn-light-9xl-indigo()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-bold.rounded-md(
    type='button' 
    class='hover_bg-indigo-700 hover_text-white focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-indigo-500 text-9xl bg-indigo-100 text-indigo-600 ')&attributes(attributes)
    block
    
mixin tw-btn-light-9xl-purple()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-bold.rounded-md(
    type='button' 
    class='hover_bg-purple-700 hover_text-white focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-purple-500 text-9xl bg-purple-100 text-purple-600 ')&attributes(attributes)
    block
    
mixin tw-btn-light-9xl-pink()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-bold.rounded-md(
    type='button' 
    class='hover_bg-pink-700 hover_text-white focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-pink-500 text-9xl bg-pink-100 text-pink-600 ')&attributes(attributes)
    block
    
mixin tw-btn-light-gray()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-bold.rounded-md(
    type='button' 
    class='hover_bg-gray-700 hover_text-white focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-gray-500 text-base bg-gray-100 text-gray-600 ')&attributes(attributes)
    block

  
mixin tw-btn-light-red()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-bold.rounded-md(
    type='button' 
    class='hover_bg-red-700 hover_text-white focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-red-500 text-base bg-red-100 text-red-600 ')&attributes(attributes)
    block

  
mixin tw-btn-light-yellow()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-bold.rounded-md(
    type='button' 
    class='hover_bg-yellow-700 hover_text-white focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-yellow-500 text-base bg-yellow-100 text-yellow-600 ')&attributes(attributes)
    block

  
mixin tw-btn-light-green()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-bold.rounded-md(
    type='button' 
    class='hover_bg-green-700 hover_text-white focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-green-500 text-base bg-green-100 text-green-600 ')&attributes(attributes)
    block

  
mixin tw-btn-light-blue()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-bold.rounded-md(
    type='button' 
    class='hover_bg-blue-700 hover_text-white focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-blue-500 text-base bg-blue-100 text-blue-600 ')&attributes(attributes)
    block

  
mixin tw-btn-light-indigo()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-bold.rounded-md(
    type='button' 
    class='hover_bg-indigo-700 hover_text-white focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-indigo-500 text-base bg-indigo-100 text-indigo-600 ')&attributes(attributes)
    block

  
mixin tw-btn-light-purple()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-bold.rounded-md(
    type='button' 
    class='hover_bg-purple-700 hover_text-white focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-purple-500 text-base bg-purple-100 text-purple-600 ')&attributes(attributes)
    block

  
mixin tw-btn-light-pink()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-bold.rounded-md(
    type='button' 
    class='hover_bg-pink-700 hover_text-white focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-pink-500 text-base bg-pink-100 text-pink-600 ')&attributes(attributes)
    block

  
