mixin tw-btn-xs-gray()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-xs.rounded-md.hover_bg-gray-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-gray-500.text-white.border-gray-300.bg-gray-600(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-xs-red()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-xs.rounded-md.hover_bg-red-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-red-500.text-white.border-red-300.bg-red-600(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-xs-yellow()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-xs.rounded-md.hover_bg-yellow-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-yellow-500.text-white.border-yellow-300.bg-yellow-600(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-xs-green()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-xs.rounded-md.hover_bg-green-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-green-500.text-white.border-green-300.bg-green-600(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-xs-blue()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-xs.rounded-md.hover_bg-blue-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-blue-500.text-white.border-blue-300.bg-blue-600(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-xs-indigo()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-xs.rounded-md.hover_bg-indigo-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-indigo-500.text-white.border-indigo-300.bg-indigo-600(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-xs-purple()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-xs.rounded-md.hover_bg-purple-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-purple-500.text-white.border-purple-300.bg-purple-600(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-xs-pink()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-xs.rounded-md.hover_bg-pink-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-pink-500.text-white.border-pink-300.bg-pink-600(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-sm-gray()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-sm.rounded-md.hover_bg-gray-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-gray-500.text-white.border-gray-300.bg-gray-600(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-sm-red()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-sm.rounded-md.hover_bg-red-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-red-500.text-white.border-red-300.bg-red-600(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-sm-yellow()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-sm.rounded-md.hover_bg-yellow-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-yellow-500.text-white.border-yellow-300.bg-yellow-600(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-sm-green()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-sm.rounded-md.hover_bg-green-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-green-500.text-white.border-green-300.bg-green-600(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-sm-blue()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-sm.rounded-md.hover_bg-blue-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-blue-500.text-white.border-blue-300.bg-blue-600(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-sm-indigo()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-sm.rounded-md.hover_bg-indigo-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-indigo-500.text-white.border-indigo-300.bg-indigo-600(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-sm-purple()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-sm.rounded-md.hover_bg-purple-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-purple-500.text-white.border-purple-300.bg-purple-600(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-sm-pink()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-sm.rounded-md.hover_bg-pink-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-pink-500.text-white.border-pink-300.bg-pink-600(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-base-gray()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-base.rounded-md.hover_bg-gray-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-gray-500.text-white.border-gray-300.bg-gray-600(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-base-red()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-base.rounded-md.hover_bg-red-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-red-500.text-white.border-red-300.bg-red-600(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-base-yellow()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-base.rounded-md.hover_bg-yellow-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-yellow-500.text-white.border-yellow-300.bg-yellow-600(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-base-green()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-base.rounded-md.hover_bg-green-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-green-500.text-white.border-green-300.bg-green-600(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-base-blue()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-base.rounded-md.hover_bg-blue-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-blue-500.text-white.border-blue-300.bg-blue-600(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-base-indigo()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-base.rounded-md.hover_bg-indigo-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-indigo-500.text-white.border-indigo-300.bg-indigo-600(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-base-purple()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-base.rounded-md.hover_bg-purple-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-purple-500.text-white.border-purple-300.bg-purple-600(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-base-pink()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-base.rounded-md.hover_bg-pink-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-pink-500.text-white.border-pink-300.bg-pink-600(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-lg-gray()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-lg.rounded-md.hover_bg-gray-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-gray-500.text-white.border-gray-300.bg-gray-600(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-lg-red()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-lg.rounded-md.hover_bg-red-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-red-500.text-white.border-red-300.bg-red-600(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-lg-yellow()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-lg.rounded-md.hover_bg-yellow-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-yellow-500.text-white.border-yellow-300.bg-yellow-600(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-lg-green()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-lg.rounded-md.hover_bg-green-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-green-500.text-white.border-green-300.bg-green-600(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-lg-blue()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-lg.rounded-md.hover_bg-blue-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-blue-500.text-white.border-blue-300.bg-blue-600(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-lg-indigo()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-lg.rounded-md.hover_bg-indigo-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-indigo-500.text-white.border-indigo-300.bg-indigo-600(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-lg-purple()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-lg.rounded-md.hover_bg-purple-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-purple-500.text-white.border-purple-300.bg-purple-600(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-lg-pink()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-lg.rounded-md.hover_bg-pink-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-pink-500.text-white.border-pink-300.bg-pink-600(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-xl-gray()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-xl.rounded-md.hover_bg-gray-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-gray-500.text-white.border-gray-300.bg-gray-600(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-xl-red()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-xl.rounded-md.hover_bg-red-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-red-500.text-white.border-red-300.bg-red-600(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-xl-yellow()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-xl.rounded-md.hover_bg-yellow-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-yellow-500.text-white.border-yellow-300.bg-yellow-600(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-xl-green()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-xl.rounded-md.hover_bg-green-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-green-500.text-white.border-green-300.bg-green-600(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-xl-blue()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-xl.rounded-md.hover_bg-blue-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-blue-500.text-white.border-blue-300.bg-blue-600(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-xl-indigo()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-xl.rounded-md.hover_bg-indigo-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-indigo-500.text-white.border-indigo-300.bg-indigo-600(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-xl-purple()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-xl.rounded-md.hover_bg-purple-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-purple-500.text-white.border-purple-300.bg-purple-600(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-xl-pink()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-xl.rounded-md.hover_bg-pink-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-pink-500.text-white.border-pink-300.bg-pink-600(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-2xl-gray()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-2xl.rounded-md.hover_bg-gray-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-gray-500.text-white.border-gray-300.bg-gray-600(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-2xl-red()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-2xl.rounded-md.hover_bg-red-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-red-500.text-white.border-red-300.bg-red-600(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-2xl-yellow()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-2xl.rounded-md.hover_bg-yellow-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-yellow-500.text-white.border-yellow-300.bg-yellow-600(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-2xl-green()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-2xl.rounded-md.hover_bg-green-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-green-500.text-white.border-green-300.bg-green-600(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-2xl-blue()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-2xl.rounded-md.hover_bg-blue-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-blue-500.text-white.border-blue-300.bg-blue-600(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-2xl-indigo()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-2xl.rounded-md.hover_bg-indigo-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-indigo-500.text-white.border-indigo-300.bg-indigo-600(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-2xl-purple()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-2xl.rounded-md.hover_bg-purple-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-purple-500.text-white.border-purple-300.bg-purple-600(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-2xl-pink()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-2xl.rounded-md.hover_bg-pink-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-pink-500.text-white.border-pink-300.bg-pink-600(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-3xl-gray()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-3xl.rounded-md.hover_bg-gray-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-gray-500.text-white.border-gray-300.bg-gray-600(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-3xl-red()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-3xl.rounded-md.hover_bg-red-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-red-500.text-white.border-red-300.bg-red-600(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-3xl-yellow()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-3xl.rounded-md.hover_bg-yellow-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-yellow-500.text-white.border-yellow-300.bg-yellow-600(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-3xl-green()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-3xl.rounded-md.hover_bg-green-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-green-500.text-white.border-green-300.bg-green-600(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-3xl-blue()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-3xl.rounded-md.hover_bg-blue-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-blue-500.text-white.border-blue-300.bg-blue-600(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-3xl-indigo()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-3xl.rounded-md.hover_bg-indigo-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-indigo-500.text-white.border-indigo-300.bg-indigo-600(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-3xl-purple()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-3xl.rounded-md.hover_bg-purple-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-purple-500.text-white.border-purple-300.bg-purple-600(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-3xl-pink()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-3xl.rounded-md.hover_bg-pink-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-pink-500.text-white.border-pink-300.bg-pink-600(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-4xl-gray()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-4xl.rounded-md.hover_bg-gray-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-gray-500.text-white.border-gray-300.bg-gray-600(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-4xl-red()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-4xl.rounded-md.hover_bg-red-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-red-500.text-white.border-red-300.bg-red-600(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-4xl-yellow()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-4xl.rounded-md.hover_bg-yellow-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-yellow-500.text-white.border-yellow-300.bg-yellow-600(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-4xl-green()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-4xl.rounded-md.hover_bg-green-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-green-500.text-white.border-green-300.bg-green-600(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-4xl-blue()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-4xl.rounded-md.hover_bg-blue-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-blue-500.text-white.border-blue-300.bg-blue-600(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-4xl-indigo()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-4xl.rounded-md.hover_bg-indigo-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-indigo-500.text-white.border-indigo-300.bg-indigo-600(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-4xl-purple()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-4xl.rounded-md.hover_bg-purple-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-purple-500.text-white.border-purple-300.bg-purple-600(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-4xl-pink()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-4xl.rounded-md.hover_bg-pink-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-pink-500.text-white.border-pink-300.bg-pink-600(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-5xl-gray()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-5xl.rounded-md.hover_bg-gray-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-gray-500.text-white.border-gray-300.bg-gray-600(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-5xl-red()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-5xl.rounded-md.hover_bg-red-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-red-500.text-white.border-red-300.bg-red-600(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-5xl-yellow()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-5xl.rounded-md.hover_bg-yellow-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-yellow-500.text-white.border-yellow-300.bg-yellow-600(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-5xl-green()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-5xl.rounded-md.hover_bg-green-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-green-500.text-white.border-green-300.bg-green-600(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-5xl-blue()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-5xl.rounded-md.hover_bg-blue-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-blue-500.text-white.border-blue-300.bg-blue-600(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-5xl-indigo()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-5xl.rounded-md.hover_bg-indigo-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-indigo-500.text-white.border-indigo-300.bg-indigo-600(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-5xl-purple()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-5xl.rounded-md.hover_bg-purple-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-purple-500.text-white.border-purple-300.bg-purple-600(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-5xl-pink()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-5xl.rounded-md.hover_bg-pink-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-pink-500.text-white.border-pink-300.bg-pink-600(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-6xl-gray()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-6xl.rounded-md.hover_bg-gray-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-gray-500.text-white.border-gray-300.bg-gray-600(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-6xl-red()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-6xl.rounded-md.hover_bg-red-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-red-500.text-white.border-red-300.bg-red-600(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-6xl-yellow()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-6xl.rounded-md.hover_bg-yellow-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-yellow-500.text-white.border-yellow-300.bg-yellow-600(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-6xl-green()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-6xl.rounded-md.hover_bg-green-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-green-500.text-white.border-green-300.bg-green-600(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-6xl-blue()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-6xl.rounded-md.hover_bg-blue-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-blue-500.text-white.border-blue-300.bg-blue-600(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-6xl-indigo()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-6xl.rounded-md.hover_bg-indigo-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-indigo-500.text-white.border-indigo-300.bg-indigo-600(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-6xl-purple()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-6xl.rounded-md.hover_bg-purple-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-purple-500.text-white.border-purple-300.bg-purple-600(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-6xl-pink()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-6xl.rounded-md.hover_bg-pink-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-pink-500.text-white.border-pink-300.bg-pink-600(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-7xl-gray()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-7xl.rounded-md.hover_bg-gray-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-gray-500.text-white.border-gray-300.bg-gray-600(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-7xl-red()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-7xl.rounded-md.hover_bg-red-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-red-500.text-white.border-red-300.bg-red-600(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-7xl-yellow()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-7xl.rounded-md.hover_bg-yellow-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-yellow-500.text-white.border-yellow-300.bg-yellow-600(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-7xl-green()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-7xl.rounded-md.hover_bg-green-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-green-500.text-white.border-green-300.bg-green-600(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-7xl-blue()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-7xl.rounded-md.hover_bg-blue-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-blue-500.text-white.border-blue-300.bg-blue-600(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-7xl-indigo()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-7xl.rounded-md.hover_bg-indigo-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-indigo-500.text-white.border-indigo-300.bg-indigo-600(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-7xl-purple()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-7xl.rounded-md.hover_bg-purple-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-purple-500.text-white.border-purple-300.bg-purple-600(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-7xl-pink()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-7xl.rounded-md.hover_bg-pink-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-pink-500.text-white.border-pink-300.bg-pink-600(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-8xl-gray()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-8xl.rounded-md.hover_bg-gray-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-gray-500.text-white.border-gray-300.bg-gray-600(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-8xl-red()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-8xl.rounded-md.hover_bg-red-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-red-500.text-white.border-red-300.bg-red-600(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-8xl-yellow()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-8xl.rounded-md.hover_bg-yellow-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-yellow-500.text-white.border-yellow-300.bg-yellow-600(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-8xl-green()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-8xl.rounded-md.hover_bg-green-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-green-500.text-white.border-green-300.bg-green-600(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-8xl-blue()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-8xl.rounded-md.hover_bg-blue-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-blue-500.text-white.border-blue-300.bg-blue-600(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-8xl-indigo()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-8xl.rounded-md.hover_bg-indigo-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-indigo-500.text-white.border-indigo-300.bg-indigo-600(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-8xl-purple()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-8xl.rounded-md.hover_bg-purple-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-purple-500.text-white.border-purple-300.bg-purple-600(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-8xl-pink()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-8xl.rounded-md.hover_bg-pink-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-pink-500.text-white.border-pink-300.bg-pink-600(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-9xl-gray()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-9xl.rounded-md.hover_bg-gray-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-gray-500.text-white.border-gray-300.bg-gray-600(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-9xl-red()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-9xl.rounded-md.hover_bg-red-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-red-500.text-white.border-red-300.bg-red-600(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-9xl-yellow()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-9xl.rounded-md.hover_bg-yellow-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-yellow-500.text-white.border-yellow-300.bg-yellow-600(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-9xl-green()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-9xl.rounded-md.hover_bg-green-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-green-500.text-white.border-green-300.bg-green-600(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-9xl-blue()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-9xl.rounded-md.hover_bg-blue-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-blue-500.text-white.border-blue-300.bg-blue-600(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-9xl-indigo()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-9xl.rounded-md.hover_bg-indigo-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-indigo-500.text-white.border-indigo-300.bg-indigo-600(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-9xl-purple()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-9xl.rounded-md.hover_bg-purple-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-purple-500.text-white.border-purple-300.bg-purple-600(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-9xl-pink()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-9xl.rounded-md.hover_bg-pink-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-pink-500.text-white.border-pink-300.bg-pink-600(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-gray()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-base.rounded-md.hover_bg-gray-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-gray-500.text-white.border-gray-300.bg-gray-600(
    type='button' 
    )&attributes(attributes)
    block

  
mixin tw-btn-red()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-base.rounded-md.hover_bg-red-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-red-500.text-white.border-red-300.bg-red-600(
    type='button' 
    )&attributes(attributes)
    block

  
mixin tw-btn-yellow()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-base.rounded-md.hover_bg-yellow-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-yellow-500.text-white.border-yellow-300.bg-yellow-600(
    type='button' 
    )&attributes(attributes)
    block

  
mixin tw-btn-green()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-base.rounded-md.hover_bg-green-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-green-500.text-white.border-green-300.bg-green-600(
    type='button' 
    )&attributes(attributes)
    block

  
mixin tw-btn-blue()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-base.rounded-md.hover_bg-blue-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-blue-500.text-white.border-blue-300.bg-blue-600(
    type='button' 
    )&attributes(attributes)
    block

  
mixin tw-btn-indigo()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-base.rounded-md.hover_bg-indigo-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-indigo-500.text-white.border-indigo-300.bg-indigo-600(
    type='button' 
    )&attributes(attributes)
    block

  
mixin tw-btn-purple()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-base.rounded-md.hover_bg-purple-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-purple-500.text-white.border-purple-300.bg-purple-600(
    type='button' 
    )&attributes(attributes)
    block

  
mixin tw-btn-pink()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-base.rounded-md.hover_bg-pink-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-pink-500.text-white.border-pink-300.bg-pink-600(
    type='button' 
    )&attributes(attributes)
    block

  
