mixin tw-btn-outline-xs-gray()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-xs.font-bold.rounded-md.hover_bg-gray-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-gray-500.text-gray-600.border-gray-300(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-outline-xs-red()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-xs.font-bold.rounded-md.hover_bg-red-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-red-500.text-red-600.border-red-300(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-outline-xs-yellow()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-xs.font-bold.rounded-md.hover_bg-yellow-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-yellow-500.text-yellow-600.border-yellow-300(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-outline-xs-green()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-xs.font-bold.rounded-md.hover_bg-green-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-green-500.text-green-600.border-green-300(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-outline-xs-blue()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-xs.font-bold.rounded-md.hover_bg-blue-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-blue-500.text-blue-600.border-blue-300(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-outline-xs-indigo()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-xs.font-bold.rounded-md.hover_bg-indigo-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-indigo-500.text-indigo-600.border-indigo-300(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-outline-xs-purple()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-xs.font-bold.rounded-md.hover_bg-purple-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-purple-500.text-purple-600.border-purple-300(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-outline-xs-pink()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-xs.font-bold.rounded-md.hover_bg-pink-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-pink-500.text-pink-600.border-pink-300(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-outline-sm-gray()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-sm.font-bold.rounded-md.hover_bg-gray-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-gray-500.text-gray-600.border-gray-300(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-outline-sm-red()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-sm.font-bold.rounded-md.hover_bg-red-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-red-500.text-red-600.border-red-300(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-outline-sm-yellow()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-sm.font-bold.rounded-md.hover_bg-yellow-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-yellow-500.text-yellow-600.border-yellow-300(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-outline-sm-green()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-sm.font-bold.rounded-md.hover_bg-green-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-green-500.text-green-600.border-green-300(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-outline-sm-blue()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-sm.font-bold.rounded-md.hover_bg-blue-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-blue-500.text-blue-600.border-blue-300(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-outline-sm-indigo()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-sm.font-bold.rounded-md.hover_bg-indigo-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-indigo-500.text-indigo-600.border-indigo-300(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-outline-sm-purple()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-sm.font-bold.rounded-md.hover_bg-purple-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-purple-500.text-purple-600.border-purple-300(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-outline-sm-pink()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-sm.font-bold.rounded-md.hover_bg-pink-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-pink-500.text-pink-600.border-pink-300(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-outline-base-gray()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-base.font-bold.rounded-md.hover_bg-gray-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-gray-500.text-gray-600.border-gray-300(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-outline-base-red()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-base.font-bold.rounded-md.hover_bg-red-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-red-500.text-red-600.border-red-300(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-outline-base-yellow()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-base.font-bold.rounded-md.hover_bg-yellow-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-yellow-500.text-yellow-600.border-yellow-300(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-outline-base-green()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-base.font-bold.rounded-md.hover_bg-green-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-green-500.text-green-600.border-green-300(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-outline-base-blue()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-base.font-bold.rounded-md.hover_bg-blue-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-blue-500.text-blue-600.border-blue-300(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-outline-base-indigo()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-base.font-bold.rounded-md.hover_bg-indigo-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-indigo-500.text-indigo-600.border-indigo-300(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-outline-base-purple()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-base.font-bold.rounded-md.hover_bg-purple-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-purple-500.text-purple-600.border-purple-300(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-outline-base-pink()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-base.font-bold.rounded-md.hover_bg-pink-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-pink-500.text-pink-600.border-pink-300(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-outline-lg-gray()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-lg.font-bold.rounded-md.hover_bg-gray-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-gray-500.text-gray-600.border-gray-300(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-outline-lg-red()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-lg.font-bold.rounded-md.hover_bg-red-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-red-500.text-red-600.border-red-300(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-outline-lg-yellow()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-lg.font-bold.rounded-md.hover_bg-yellow-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-yellow-500.text-yellow-600.border-yellow-300(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-outline-lg-green()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-lg.font-bold.rounded-md.hover_bg-green-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-green-500.text-green-600.border-green-300(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-outline-lg-blue()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-lg.font-bold.rounded-md.hover_bg-blue-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-blue-500.text-blue-600.border-blue-300(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-outline-lg-indigo()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-lg.font-bold.rounded-md.hover_bg-indigo-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-indigo-500.text-indigo-600.border-indigo-300(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-outline-lg-purple()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-lg.font-bold.rounded-md.hover_bg-purple-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-purple-500.text-purple-600.border-purple-300(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-outline-lg-pink()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-lg.font-bold.rounded-md.hover_bg-pink-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-pink-500.text-pink-600.border-pink-300(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-outline-xl-gray()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-xl.font-bold.rounded-md.hover_bg-gray-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-gray-500.text-gray-600.border-gray-300(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-outline-xl-red()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-xl.font-bold.rounded-md.hover_bg-red-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-red-500.text-red-600.border-red-300(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-outline-xl-yellow()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-xl.font-bold.rounded-md.hover_bg-yellow-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-yellow-500.text-yellow-600.border-yellow-300(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-outline-xl-green()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-xl.font-bold.rounded-md.hover_bg-green-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-green-500.text-green-600.border-green-300(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-outline-xl-blue()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-xl.font-bold.rounded-md.hover_bg-blue-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-blue-500.text-blue-600.border-blue-300(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-outline-xl-indigo()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-xl.font-bold.rounded-md.hover_bg-indigo-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-indigo-500.text-indigo-600.border-indigo-300(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-outline-xl-purple()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-xl.font-bold.rounded-md.hover_bg-purple-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-purple-500.text-purple-600.border-purple-300(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-outline-xl-pink()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-xl.font-bold.rounded-md.hover_bg-pink-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-pink-500.text-pink-600.border-pink-300(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-outline-2xl-gray()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-2xl.font-bold.rounded-md.hover_bg-gray-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-gray-500.text-gray-600.border-gray-300(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-outline-2xl-red()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-2xl.font-bold.rounded-md.hover_bg-red-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-red-500.text-red-600.border-red-300(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-outline-2xl-yellow()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-2xl.font-bold.rounded-md.hover_bg-yellow-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-yellow-500.text-yellow-600.border-yellow-300(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-outline-2xl-green()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-2xl.font-bold.rounded-md.hover_bg-green-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-green-500.text-green-600.border-green-300(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-outline-2xl-blue()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-2xl.font-bold.rounded-md.hover_bg-blue-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-blue-500.text-blue-600.border-blue-300(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-outline-2xl-indigo()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-2xl.font-bold.rounded-md.hover_bg-indigo-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-indigo-500.text-indigo-600.border-indigo-300(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-outline-2xl-purple()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-2xl.font-bold.rounded-md.hover_bg-purple-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-purple-500.text-purple-600.border-purple-300(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-outline-2xl-pink()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-2xl.font-bold.rounded-md.hover_bg-pink-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-pink-500.text-pink-600.border-pink-300(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-outline-3xl-gray()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-3xl.font-bold.rounded-md.hover_bg-gray-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-gray-500.text-gray-600.border-gray-300(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-outline-3xl-red()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-3xl.font-bold.rounded-md.hover_bg-red-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-red-500.text-red-600.border-red-300(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-outline-3xl-yellow()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-3xl.font-bold.rounded-md.hover_bg-yellow-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-yellow-500.text-yellow-600.border-yellow-300(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-outline-3xl-green()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-3xl.font-bold.rounded-md.hover_bg-green-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-green-500.text-green-600.border-green-300(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-outline-3xl-blue()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-3xl.font-bold.rounded-md.hover_bg-blue-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-blue-500.text-blue-600.border-blue-300(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-outline-3xl-indigo()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-3xl.font-bold.rounded-md.hover_bg-indigo-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-indigo-500.text-indigo-600.border-indigo-300(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-outline-3xl-purple()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-3xl.font-bold.rounded-md.hover_bg-purple-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-purple-500.text-purple-600.border-purple-300(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-outline-3xl-pink()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-3xl.font-bold.rounded-md.hover_bg-pink-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-pink-500.text-pink-600.border-pink-300(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-outline-4xl-gray()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-4xl.font-bold.rounded-md.hover_bg-gray-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-gray-500.text-gray-600.border-gray-300(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-outline-4xl-red()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-4xl.font-bold.rounded-md.hover_bg-red-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-red-500.text-red-600.border-red-300(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-outline-4xl-yellow()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-4xl.font-bold.rounded-md.hover_bg-yellow-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-yellow-500.text-yellow-600.border-yellow-300(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-outline-4xl-green()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-4xl.font-bold.rounded-md.hover_bg-green-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-green-500.text-green-600.border-green-300(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-outline-4xl-blue()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-4xl.font-bold.rounded-md.hover_bg-blue-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-blue-500.text-blue-600.border-blue-300(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-outline-4xl-indigo()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-4xl.font-bold.rounded-md.hover_bg-indigo-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-indigo-500.text-indigo-600.border-indigo-300(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-outline-4xl-purple()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-4xl.font-bold.rounded-md.hover_bg-purple-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-purple-500.text-purple-600.border-purple-300(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-outline-4xl-pink()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-4xl.font-bold.rounded-md.hover_bg-pink-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-pink-500.text-pink-600.border-pink-300(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-outline-5xl-gray()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-5xl.font-bold.rounded-md.hover_bg-gray-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-gray-500.text-gray-600.border-gray-300(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-outline-5xl-red()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-5xl.font-bold.rounded-md.hover_bg-red-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-red-500.text-red-600.border-red-300(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-outline-5xl-yellow()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-5xl.font-bold.rounded-md.hover_bg-yellow-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-yellow-500.text-yellow-600.border-yellow-300(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-outline-5xl-green()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-5xl.font-bold.rounded-md.hover_bg-green-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-green-500.text-green-600.border-green-300(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-outline-5xl-blue()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-5xl.font-bold.rounded-md.hover_bg-blue-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-blue-500.text-blue-600.border-blue-300(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-outline-5xl-indigo()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-5xl.font-bold.rounded-md.hover_bg-indigo-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-indigo-500.text-indigo-600.border-indigo-300(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-outline-5xl-purple()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-5xl.font-bold.rounded-md.hover_bg-purple-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-purple-500.text-purple-600.border-purple-300(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-outline-5xl-pink()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-5xl.font-bold.rounded-md.hover_bg-pink-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-pink-500.text-pink-600.border-pink-300(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-outline-6xl-gray()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-6xl.font-bold.rounded-md.hover_bg-gray-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-gray-500.text-gray-600.border-gray-300(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-outline-6xl-red()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-6xl.font-bold.rounded-md.hover_bg-red-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-red-500.text-red-600.border-red-300(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-outline-6xl-yellow()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-6xl.font-bold.rounded-md.hover_bg-yellow-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-yellow-500.text-yellow-600.border-yellow-300(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-outline-6xl-green()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-6xl.font-bold.rounded-md.hover_bg-green-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-green-500.text-green-600.border-green-300(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-outline-6xl-blue()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-6xl.font-bold.rounded-md.hover_bg-blue-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-blue-500.text-blue-600.border-blue-300(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-outline-6xl-indigo()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-6xl.font-bold.rounded-md.hover_bg-indigo-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-indigo-500.text-indigo-600.border-indigo-300(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-outline-6xl-purple()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-6xl.font-bold.rounded-md.hover_bg-purple-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-purple-500.text-purple-600.border-purple-300(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-outline-6xl-pink()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-6xl.font-bold.rounded-md.hover_bg-pink-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-pink-500.text-pink-600.border-pink-300(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-outline-7xl-gray()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-7xl.font-bold.rounded-md.hover_bg-gray-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-gray-500.text-gray-600.border-gray-300(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-outline-7xl-red()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-7xl.font-bold.rounded-md.hover_bg-red-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-red-500.text-red-600.border-red-300(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-outline-7xl-yellow()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-7xl.font-bold.rounded-md.hover_bg-yellow-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-yellow-500.text-yellow-600.border-yellow-300(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-outline-7xl-green()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-7xl.font-bold.rounded-md.hover_bg-green-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-green-500.text-green-600.border-green-300(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-outline-7xl-blue()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-7xl.font-bold.rounded-md.hover_bg-blue-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-blue-500.text-blue-600.border-blue-300(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-outline-7xl-indigo()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-7xl.font-bold.rounded-md.hover_bg-indigo-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-indigo-500.text-indigo-600.border-indigo-300(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-outline-7xl-purple()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-7xl.font-bold.rounded-md.hover_bg-purple-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-purple-500.text-purple-600.border-purple-300(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-outline-7xl-pink()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-7xl.font-bold.rounded-md.hover_bg-pink-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-pink-500.text-pink-600.border-pink-300(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-outline-8xl-gray()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-8xl.font-bold.rounded-md.hover_bg-gray-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-gray-500.text-gray-600.border-gray-300(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-outline-8xl-red()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-8xl.font-bold.rounded-md.hover_bg-red-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-red-500.text-red-600.border-red-300(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-outline-8xl-yellow()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-8xl.font-bold.rounded-md.hover_bg-yellow-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-yellow-500.text-yellow-600.border-yellow-300(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-outline-8xl-green()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-8xl.font-bold.rounded-md.hover_bg-green-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-green-500.text-green-600.border-green-300(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-outline-8xl-blue()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-8xl.font-bold.rounded-md.hover_bg-blue-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-blue-500.text-blue-600.border-blue-300(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-outline-8xl-indigo()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-8xl.font-bold.rounded-md.hover_bg-indigo-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-indigo-500.text-indigo-600.border-indigo-300(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-outline-8xl-purple()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-8xl.font-bold.rounded-md.hover_bg-purple-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-purple-500.text-purple-600.border-purple-300(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-outline-8xl-pink()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-8xl.font-bold.rounded-md.hover_bg-pink-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-pink-500.text-pink-600.border-pink-300(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-outline-9xl-gray()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-9xl.font-bold.rounded-md.hover_bg-gray-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-gray-500.text-gray-600.border-gray-300(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-outline-9xl-red()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-9xl.font-bold.rounded-md.hover_bg-red-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-red-500.text-red-600.border-red-300(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-outline-9xl-yellow()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-9xl.font-bold.rounded-md.hover_bg-yellow-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-yellow-500.text-yellow-600.border-yellow-300(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-outline-9xl-green()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-9xl.font-bold.rounded-md.hover_bg-green-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-green-500.text-green-600.border-green-300(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-outline-9xl-blue()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-9xl.font-bold.rounded-md.hover_bg-blue-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-blue-500.text-blue-600.border-blue-300(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-outline-9xl-indigo()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-9xl.font-bold.rounded-md.hover_bg-indigo-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-indigo-500.text-indigo-600.border-indigo-300(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-outline-9xl-purple()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-9xl.font-bold.rounded-md.hover_bg-purple-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-purple-500.text-purple-600.border-purple-300(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-outline-9xl-pink()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-9xl.font-bold.rounded-md.hover_bg-pink-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-pink-500.text-pink-600.border-pink-300(
    type='button' 
    )&attributes(attributes)
    block
    
mixin tw-btn-outline-gray()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-base.font-bold.rounded-md.hover_bg-gray-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-gray-500.text-gray-600.border-gray-300(
  type='button' 
  )&attributes(attributes)
    block
  
mixin tw-btn-outline-red()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-base.font-bold.rounded-md.hover_bg-red-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-red-500.text-red-600.border-red-300(
  type='button' 
  )&attributes(attributes)
    block
  
mixin tw-btn-outline-yellow()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-base.font-bold.rounded-md.hover_bg-yellow-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-yellow-500.text-yellow-600.border-yellow-300(
  type='button' 
  )&attributes(attributes)
    block
  
mixin tw-btn-outline-green()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-base.font-bold.rounded-md.hover_bg-green-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-green-500.text-green-600.border-green-300(
  type='button' 
  )&attributes(attributes)
    block
  
mixin tw-btn-outline-blue()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-base.font-bold.rounded-md.hover_bg-blue-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-blue-500.text-blue-600.border-blue-300(
  type='button' 
  )&attributes(attributes)
    block
  
mixin tw-btn-outline-indigo()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-base.font-bold.rounded-md.hover_bg-indigo-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-indigo-500.text-indigo-600.border-indigo-300(
  type='button' 
  )&attributes(attributes)
    block
  
mixin tw-btn-outline-purple()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-base.font-bold.rounded-md.hover_bg-purple-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-purple-500.text-purple-600.border-purple-300(
  type='button' 
  )&attributes(attributes)
    block
  
mixin tw-btn-outline-pink()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-base.font-bold.rounded-md.hover_bg-pink-700.hover_text-white.focus_outline-none.focus_ring-2.focus_ring-offset-2.focus_ring-pink-500.text-pink-600.border-pink-300(
  type='button' 
  )&attributes(attributes)
    block
  
