mixin tw-btn-round-xs-gray()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-medium.rounded-full.text-white(
    type='button' 
    class='hover_bg-gray-700 focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-gray-500 text-xs bg-gray-600')&attributes(attributes)
    block
    
mixin tw-btn-round-xs-red()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-medium.rounded-full.text-white(
    type='button' 
    class='hover_bg-red-700 focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-red-500 text-xs bg-red-600')&attributes(attributes)
    block
    
mixin tw-btn-round-xs-yellow()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-medium.rounded-full.text-white(
    type='button' 
    class='hover_bg-yellow-700 focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-yellow-500 text-xs bg-yellow-600')&attributes(attributes)
    block
    
mixin tw-btn-round-xs-green()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-medium.rounded-full.text-white(
    type='button' 
    class='hover_bg-green-700 focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-green-500 text-xs bg-green-600')&attributes(attributes)
    block
    
mixin tw-btn-round-xs-blue()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-medium.rounded-full.text-white(
    type='button' 
    class='hover_bg-blue-700 focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-blue-500 text-xs bg-blue-600')&attributes(attributes)
    block
    
mixin tw-btn-round-xs-indigo()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-medium.rounded-full.text-white(
    type='button' 
    class='hover_bg-indigo-700 focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-indigo-500 text-xs bg-indigo-600')&attributes(attributes)
    block
    
mixin tw-btn-round-xs-purple()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-medium.rounded-full.text-white(
    type='button' 
    class='hover_bg-purple-700 focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-purple-500 text-xs bg-purple-600')&attributes(attributes)
    block
    
mixin tw-btn-round-xs-pink()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-medium.rounded-full.text-white(
    type='button' 
    class='hover_bg-pink-700 focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-pink-500 text-xs bg-pink-600')&attributes(attributes)
    block
    
mixin tw-btn-round-sm-gray()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-medium.rounded-full.text-white(
    type='button' 
    class='hover_bg-gray-700 focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-gray-500 text-sm bg-gray-600')&attributes(attributes)
    block
    
mixin tw-btn-round-sm-red()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-medium.rounded-full.text-white(
    type='button' 
    class='hover_bg-red-700 focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-red-500 text-sm bg-red-600')&attributes(attributes)
    block
    
mixin tw-btn-round-sm-yellow()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-medium.rounded-full.text-white(
    type='button' 
    class='hover_bg-yellow-700 focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-yellow-500 text-sm bg-yellow-600')&attributes(attributes)
    block
    
mixin tw-btn-round-sm-green()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-medium.rounded-full.text-white(
    type='button' 
    class='hover_bg-green-700 focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-green-500 text-sm bg-green-600')&attributes(attributes)
    block
    
mixin tw-btn-round-sm-blue()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-medium.rounded-full.text-white(
    type='button' 
    class='hover_bg-blue-700 focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-blue-500 text-sm bg-blue-600')&attributes(attributes)
    block
    
mixin tw-btn-round-sm-indigo()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-medium.rounded-full.text-white(
    type='button' 
    class='hover_bg-indigo-700 focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-indigo-500 text-sm bg-indigo-600')&attributes(attributes)
    block
    
mixin tw-btn-round-sm-purple()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-medium.rounded-full.text-white(
    type='button' 
    class='hover_bg-purple-700 focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-purple-500 text-sm bg-purple-600')&attributes(attributes)
    block
    
mixin tw-btn-round-sm-pink()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-medium.rounded-full.text-white(
    type='button' 
    class='hover_bg-pink-700 focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-pink-500 text-sm bg-pink-600')&attributes(attributes)
    block
    
mixin tw-btn-round-base-gray()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-medium.rounded-full.text-white(
    type='button' 
    class='hover_bg-gray-700 focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-gray-500 text-base bg-gray-600')&attributes(attributes)
    block
    
mixin tw-btn-round-base-red()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-medium.rounded-full.text-white(
    type='button' 
    class='hover_bg-red-700 focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-red-500 text-base bg-red-600')&attributes(attributes)
    block
    
mixin tw-btn-round-base-yellow()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-medium.rounded-full.text-white(
    type='button' 
    class='hover_bg-yellow-700 focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-yellow-500 text-base bg-yellow-600')&attributes(attributes)
    block
    
mixin tw-btn-round-base-green()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-medium.rounded-full.text-white(
    type='button' 
    class='hover_bg-green-700 focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-green-500 text-base bg-green-600')&attributes(attributes)
    block
    
mixin tw-btn-round-base-blue()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-medium.rounded-full.text-white(
    type='button' 
    class='hover_bg-blue-700 focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-blue-500 text-base bg-blue-600')&attributes(attributes)
    block
    
mixin tw-btn-round-base-indigo()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-medium.rounded-full.text-white(
    type='button' 
    class='hover_bg-indigo-700 focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-indigo-500 text-base bg-indigo-600')&attributes(attributes)
    block
    
mixin tw-btn-round-base-purple()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-medium.rounded-full.text-white(
    type='button' 
    class='hover_bg-purple-700 focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-purple-500 text-base bg-purple-600')&attributes(attributes)
    block
    
mixin tw-btn-round-base-pink()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-medium.rounded-full.text-white(
    type='button' 
    class='hover_bg-pink-700 focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-pink-500 text-base bg-pink-600')&attributes(attributes)
    block
    
mixin tw-btn-round-lg-gray()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-medium.rounded-full.text-white(
    type='button' 
    class='hover_bg-gray-700 focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-gray-500 text-lg bg-gray-600')&attributes(attributes)
    block
    
mixin tw-btn-round-lg-red()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-medium.rounded-full.text-white(
    type='button' 
    class='hover_bg-red-700 focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-red-500 text-lg bg-red-600')&attributes(attributes)
    block
    
mixin tw-btn-round-lg-yellow()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-medium.rounded-full.text-white(
    type='button' 
    class='hover_bg-yellow-700 focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-yellow-500 text-lg bg-yellow-600')&attributes(attributes)
    block
    
mixin tw-btn-round-lg-green()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-medium.rounded-full.text-white(
    type='button' 
    class='hover_bg-green-700 focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-green-500 text-lg bg-green-600')&attributes(attributes)
    block
    
mixin tw-btn-round-lg-blue()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-medium.rounded-full.text-white(
    type='button' 
    class='hover_bg-blue-700 focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-blue-500 text-lg bg-blue-600')&attributes(attributes)
    block
    
mixin tw-btn-round-lg-indigo()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-medium.rounded-full.text-white(
    type='button' 
    class='hover_bg-indigo-700 focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-indigo-500 text-lg bg-indigo-600')&attributes(attributes)
    block
    
mixin tw-btn-round-lg-purple()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-medium.rounded-full.text-white(
    type='button' 
    class='hover_bg-purple-700 focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-purple-500 text-lg bg-purple-600')&attributes(attributes)
    block
    
mixin tw-btn-round-lg-pink()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-medium.rounded-full.text-white(
    type='button' 
    class='hover_bg-pink-700 focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-pink-500 text-lg bg-pink-600')&attributes(attributes)
    block
    
mixin tw-btn-round-xl-gray()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-medium.rounded-full.text-white(
    type='button' 
    class='hover_bg-gray-700 focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-gray-500 text-xl bg-gray-600')&attributes(attributes)
    block
    
mixin tw-btn-round-xl-red()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-medium.rounded-full.text-white(
    type='button' 
    class='hover_bg-red-700 focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-red-500 text-xl bg-red-600')&attributes(attributes)
    block
    
mixin tw-btn-round-xl-yellow()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-medium.rounded-full.text-white(
    type='button' 
    class='hover_bg-yellow-700 focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-yellow-500 text-xl bg-yellow-600')&attributes(attributes)
    block
    
mixin tw-btn-round-xl-green()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-medium.rounded-full.text-white(
    type='button' 
    class='hover_bg-green-700 focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-green-500 text-xl bg-green-600')&attributes(attributes)
    block
    
mixin tw-btn-round-xl-blue()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-medium.rounded-full.text-white(
    type='button' 
    class='hover_bg-blue-700 focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-blue-500 text-xl bg-blue-600')&attributes(attributes)
    block
    
mixin tw-btn-round-xl-indigo()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-medium.rounded-full.text-white(
    type='button' 
    class='hover_bg-indigo-700 focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-indigo-500 text-xl bg-indigo-600')&attributes(attributes)
    block
    
mixin tw-btn-round-xl-purple()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-medium.rounded-full.text-white(
    type='button' 
    class='hover_bg-purple-700 focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-purple-500 text-xl bg-purple-600')&attributes(attributes)
    block
    
mixin tw-btn-round-xl-pink()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-medium.rounded-full.text-white(
    type='button' 
    class='hover_bg-pink-700 focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-pink-500 text-xl bg-pink-600')&attributes(attributes)
    block
    
mixin tw-btn-round-2xl-gray()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-medium.rounded-full.text-white(
    type='button' 
    class='hover_bg-gray-700 focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-gray-500 text-2xl bg-gray-600')&attributes(attributes)
    block
    
mixin tw-btn-round-2xl-red()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-medium.rounded-full.text-white(
    type='button' 
    class='hover_bg-red-700 focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-red-500 text-2xl bg-red-600')&attributes(attributes)
    block
    
mixin tw-btn-round-2xl-yellow()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-medium.rounded-full.text-white(
    type='button' 
    class='hover_bg-yellow-700 focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-yellow-500 text-2xl bg-yellow-600')&attributes(attributes)
    block
    
mixin tw-btn-round-2xl-green()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-medium.rounded-full.text-white(
    type='button' 
    class='hover_bg-green-700 focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-green-500 text-2xl bg-green-600')&attributes(attributes)
    block
    
mixin tw-btn-round-2xl-blue()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-medium.rounded-full.text-white(
    type='button' 
    class='hover_bg-blue-700 focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-blue-500 text-2xl bg-blue-600')&attributes(attributes)
    block
    
mixin tw-btn-round-2xl-indigo()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-medium.rounded-full.text-white(
    type='button' 
    class='hover_bg-indigo-700 focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-indigo-500 text-2xl bg-indigo-600')&attributes(attributes)
    block
    
mixin tw-btn-round-2xl-purple()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-medium.rounded-full.text-white(
    type='button' 
    class='hover_bg-purple-700 focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-purple-500 text-2xl bg-purple-600')&attributes(attributes)
    block
    
mixin tw-btn-round-2xl-pink()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-medium.rounded-full.text-white(
    type='button' 
    class='hover_bg-pink-700 focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-pink-500 text-2xl bg-pink-600')&attributes(attributes)
    block
    
mixin tw-btn-round-3xl-gray()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-medium.rounded-full.text-white(
    type='button' 
    class='hover_bg-gray-700 focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-gray-500 text-3xl bg-gray-600')&attributes(attributes)
    block
    
mixin tw-btn-round-3xl-red()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-medium.rounded-full.text-white(
    type='button' 
    class='hover_bg-red-700 focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-red-500 text-3xl bg-red-600')&attributes(attributes)
    block
    
mixin tw-btn-round-3xl-yellow()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-medium.rounded-full.text-white(
    type='button' 
    class='hover_bg-yellow-700 focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-yellow-500 text-3xl bg-yellow-600')&attributes(attributes)
    block
    
mixin tw-btn-round-3xl-green()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-medium.rounded-full.text-white(
    type='button' 
    class='hover_bg-green-700 focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-green-500 text-3xl bg-green-600')&attributes(attributes)
    block
    
mixin tw-btn-round-3xl-blue()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-medium.rounded-full.text-white(
    type='button' 
    class='hover_bg-blue-700 focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-blue-500 text-3xl bg-blue-600')&attributes(attributes)
    block
    
mixin tw-btn-round-3xl-indigo()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-medium.rounded-full.text-white(
    type='button' 
    class='hover_bg-indigo-700 focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-indigo-500 text-3xl bg-indigo-600')&attributes(attributes)
    block
    
mixin tw-btn-round-3xl-purple()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-medium.rounded-full.text-white(
    type='button' 
    class='hover_bg-purple-700 focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-purple-500 text-3xl bg-purple-600')&attributes(attributes)
    block
    
mixin tw-btn-round-3xl-pink()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-medium.rounded-full.text-white(
    type='button' 
    class='hover_bg-pink-700 focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-pink-500 text-3xl bg-pink-600')&attributes(attributes)
    block
    
mixin tw-btn-round-4xl-gray()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-medium.rounded-full.text-white(
    type='button' 
    class='hover_bg-gray-700 focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-gray-500 text-4xl bg-gray-600')&attributes(attributes)
    block
    
mixin tw-btn-round-4xl-red()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-medium.rounded-full.text-white(
    type='button' 
    class='hover_bg-red-700 focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-red-500 text-4xl bg-red-600')&attributes(attributes)
    block
    
mixin tw-btn-round-4xl-yellow()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-medium.rounded-full.text-white(
    type='button' 
    class='hover_bg-yellow-700 focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-yellow-500 text-4xl bg-yellow-600')&attributes(attributes)
    block
    
mixin tw-btn-round-4xl-green()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-medium.rounded-full.text-white(
    type='button' 
    class='hover_bg-green-700 focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-green-500 text-4xl bg-green-600')&attributes(attributes)
    block
    
mixin tw-btn-round-4xl-blue()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-medium.rounded-full.text-white(
    type='button' 
    class='hover_bg-blue-700 focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-blue-500 text-4xl bg-blue-600')&attributes(attributes)
    block
    
mixin tw-btn-round-4xl-indigo()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-medium.rounded-full.text-white(
    type='button' 
    class='hover_bg-indigo-700 focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-indigo-500 text-4xl bg-indigo-600')&attributes(attributes)
    block
    
mixin tw-btn-round-4xl-purple()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-medium.rounded-full.text-white(
    type='button' 
    class='hover_bg-purple-700 focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-purple-500 text-4xl bg-purple-600')&attributes(attributes)
    block
    
mixin tw-btn-round-4xl-pink()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-medium.rounded-full.text-white(
    type='button' 
    class='hover_bg-pink-700 focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-pink-500 text-4xl bg-pink-600')&attributes(attributes)
    block
    
mixin tw-btn-round-5xl-gray()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-medium.rounded-full.text-white(
    type='button' 
    class='hover_bg-gray-700 focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-gray-500 text-5xl bg-gray-600')&attributes(attributes)
    block
    
mixin tw-btn-round-5xl-red()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-medium.rounded-full.text-white(
    type='button' 
    class='hover_bg-red-700 focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-red-500 text-5xl bg-red-600')&attributes(attributes)
    block
    
mixin tw-btn-round-5xl-yellow()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-medium.rounded-full.text-white(
    type='button' 
    class='hover_bg-yellow-700 focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-yellow-500 text-5xl bg-yellow-600')&attributes(attributes)
    block
    
mixin tw-btn-round-5xl-green()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-medium.rounded-full.text-white(
    type='button' 
    class='hover_bg-green-700 focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-green-500 text-5xl bg-green-600')&attributes(attributes)
    block
    
mixin tw-btn-round-5xl-blue()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-medium.rounded-full.text-white(
    type='button' 
    class='hover_bg-blue-700 focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-blue-500 text-5xl bg-blue-600')&attributes(attributes)
    block
    
mixin tw-btn-round-5xl-indigo()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-medium.rounded-full.text-white(
    type='button' 
    class='hover_bg-indigo-700 focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-indigo-500 text-5xl bg-indigo-600')&attributes(attributes)
    block
    
mixin tw-btn-round-5xl-purple()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-medium.rounded-full.text-white(
    type='button' 
    class='hover_bg-purple-700 focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-purple-500 text-5xl bg-purple-600')&attributes(attributes)
    block
    
mixin tw-btn-round-5xl-pink()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-medium.rounded-full.text-white(
    type='button' 
    class='hover_bg-pink-700 focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-pink-500 text-5xl bg-pink-600')&attributes(attributes)
    block
    
mixin tw-btn-round-6xl-gray()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-medium.rounded-full.text-white(
    type='button' 
    class='hover_bg-gray-700 focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-gray-500 text-6xl bg-gray-600')&attributes(attributes)
    block
    
mixin tw-btn-round-6xl-red()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-medium.rounded-full.text-white(
    type='button' 
    class='hover_bg-red-700 focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-red-500 text-6xl bg-red-600')&attributes(attributes)
    block
    
mixin tw-btn-round-6xl-yellow()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-medium.rounded-full.text-white(
    type='button' 
    class='hover_bg-yellow-700 focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-yellow-500 text-6xl bg-yellow-600')&attributes(attributes)
    block
    
mixin tw-btn-round-6xl-green()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-medium.rounded-full.text-white(
    type='button' 
    class='hover_bg-green-700 focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-green-500 text-6xl bg-green-600')&attributes(attributes)
    block
    
mixin tw-btn-round-6xl-blue()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-medium.rounded-full.text-white(
    type='button' 
    class='hover_bg-blue-700 focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-blue-500 text-6xl bg-blue-600')&attributes(attributes)
    block
    
mixin tw-btn-round-6xl-indigo()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-medium.rounded-full.text-white(
    type='button' 
    class='hover_bg-indigo-700 focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-indigo-500 text-6xl bg-indigo-600')&attributes(attributes)
    block
    
mixin tw-btn-round-6xl-purple()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-medium.rounded-full.text-white(
    type='button' 
    class='hover_bg-purple-700 focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-purple-500 text-6xl bg-purple-600')&attributes(attributes)
    block
    
mixin tw-btn-round-6xl-pink()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-medium.rounded-full.text-white(
    type='button' 
    class='hover_bg-pink-700 focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-pink-500 text-6xl bg-pink-600')&attributes(attributes)
    block
    
mixin tw-btn-round-7xl-gray()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-medium.rounded-full.text-white(
    type='button' 
    class='hover_bg-gray-700 focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-gray-500 text-7xl bg-gray-600')&attributes(attributes)
    block
    
mixin tw-btn-round-7xl-red()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-medium.rounded-full.text-white(
    type='button' 
    class='hover_bg-red-700 focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-red-500 text-7xl bg-red-600')&attributes(attributes)
    block
    
mixin tw-btn-round-7xl-yellow()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-medium.rounded-full.text-white(
    type='button' 
    class='hover_bg-yellow-700 focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-yellow-500 text-7xl bg-yellow-600')&attributes(attributes)
    block
    
mixin tw-btn-round-7xl-green()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-medium.rounded-full.text-white(
    type='button' 
    class='hover_bg-green-700 focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-green-500 text-7xl bg-green-600')&attributes(attributes)
    block
    
mixin tw-btn-round-7xl-blue()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-medium.rounded-full.text-white(
    type='button' 
    class='hover_bg-blue-700 focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-blue-500 text-7xl bg-blue-600')&attributes(attributes)
    block
    
mixin tw-btn-round-7xl-indigo()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-medium.rounded-full.text-white(
    type='button' 
    class='hover_bg-indigo-700 focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-indigo-500 text-7xl bg-indigo-600')&attributes(attributes)
    block
    
mixin tw-btn-round-7xl-purple()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-medium.rounded-full.text-white(
    type='button' 
    class='hover_bg-purple-700 focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-purple-500 text-7xl bg-purple-600')&attributes(attributes)
    block
    
mixin tw-btn-round-7xl-pink()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-medium.rounded-full.text-white(
    type='button' 
    class='hover_bg-pink-700 focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-pink-500 text-7xl bg-pink-600')&attributes(attributes)
    block
    
mixin tw-btn-round-8xl-gray()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-medium.rounded-full.text-white(
    type='button' 
    class='hover_bg-gray-700 focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-gray-500 text-8xl bg-gray-600')&attributes(attributes)
    block
    
mixin tw-btn-round-8xl-red()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-medium.rounded-full.text-white(
    type='button' 
    class='hover_bg-red-700 focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-red-500 text-8xl bg-red-600')&attributes(attributes)
    block
    
mixin tw-btn-round-8xl-yellow()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-medium.rounded-full.text-white(
    type='button' 
    class='hover_bg-yellow-700 focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-yellow-500 text-8xl bg-yellow-600')&attributes(attributes)
    block
    
mixin tw-btn-round-8xl-green()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-medium.rounded-full.text-white(
    type='button' 
    class='hover_bg-green-700 focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-green-500 text-8xl bg-green-600')&attributes(attributes)
    block
    
mixin tw-btn-round-8xl-blue()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-medium.rounded-full.text-white(
    type='button' 
    class='hover_bg-blue-700 focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-blue-500 text-8xl bg-blue-600')&attributes(attributes)
    block
    
mixin tw-btn-round-8xl-indigo()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-medium.rounded-full.text-white(
    type='button' 
    class='hover_bg-indigo-700 focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-indigo-500 text-8xl bg-indigo-600')&attributes(attributes)
    block
    
mixin tw-btn-round-8xl-purple()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-medium.rounded-full.text-white(
    type='button' 
    class='hover_bg-purple-700 focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-purple-500 text-8xl bg-purple-600')&attributes(attributes)
    block
    
mixin tw-btn-round-8xl-pink()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-medium.rounded-full.text-white(
    type='button' 
    class='hover_bg-pink-700 focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-pink-500 text-8xl bg-pink-600')&attributes(attributes)
    block
    
mixin tw-btn-round-9xl-gray()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-medium.rounded-full.text-white(
    type='button' 
    class='hover_bg-gray-700 focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-gray-500 text-9xl bg-gray-600')&attributes(attributes)
    block
    
mixin tw-btn-round-9xl-red()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-medium.rounded-full.text-white(
    type='button' 
    class='hover_bg-red-700 focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-red-500 text-9xl bg-red-600')&attributes(attributes)
    block
    
mixin tw-btn-round-9xl-yellow()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-medium.rounded-full.text-white(
    type='button' 
    class='hover_bg-yellow-700 focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-yellow-500 text-9xl bg-yellow-600')&attributes(attributes)
    block
    
mixin tw-btn-round-9xl-green()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-medium.rounded-full.text-white(
    type='button' 
    class='hover_bg-green-700 focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-green-500 text-9xl bg-green-600')&attributes(attributes)
    block
    
mixin tw-btn-round-9xl-blue()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-medium.rounded-full.text-white(
    type='button' 
    class='hover_bg-blue-700 focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-blue-500 text-9xl bg-blue-600')&attributes(attributes)
    block
    
mixin tw-btn-round-9xl-indigo()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-medium.rounded-full.text-white(
    type='button' 
    class='hover_bg-indigo-700 focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-indigo-500 text-9xl bg-indigo-600')&attributes(attributes)
    block
    
mixin tw-btn-round-9xl-purple()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-medium.rounded-full.text-white(
    type='button' 
    class='hover_bg-purple-700 focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-purple-500 text-9xl bg-purple-600')&attributes(attributes)
    block
    
mixin tw-btn-round-9xl-pink()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-medium.rounded-full.text-white(
    type='button' 
    class='hover_bg-pink-700 focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-pink-500 text-9xl bg-pink-600')&attributes(attributes)
    block
    
mixin tw-btn-round-gray()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-medium.rounded-full.text-white(
    type='button' 
    class='hover_bg-gray-700 focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-gray-500 text-base bg-gray-600')&attributes(attributes)
    block
  
mixin tw-btn-round-red()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-medium.rounded-full.text-white(
    type='button' 
    class='hover_bg-red-700 focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-red-500 text-base bg-red-600')&attributes(attributes)
    block
  
mixin tw-btn-round-yellow()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-medium.rounded-full.text-white(
    type='button' 
    class='hover_bg-yellow-700 focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-yellow-500 text-base bg-yellow-600')&attributes(attributes)
    block
  
mixin tw-btn-round-green()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-medium.rounded-full.text-white(
    type='button' 
    class='hover_bg-green-700 focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-green-500 text-base bg-green-600')&attributes(attributes)
    block
  
mixin tw-btn-round-blue()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-medium.rounded-full.text-white(
    type='button' 
    class='hover_bg-blue-700 focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-blue-500 text-base bg-blue-600')&attributes(attributes)
    block
  
mixin tw-btn-round-indigo()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-medium.rounded-full.text-white(
    type='button' 
    class='hover_bg-indigo-700 focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-indigo-500 text-base bg-indigo-600')&attributes(attributes)
    block
  
mixin tw-btn-round-purple()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-medium.rounded-full.text-white(
    type='button' 
    class='hover_bg-purple-700 focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-purple-500 text-base bg-purple-600')&attributes(attributes)
    block
  
mixin tw-btn-round-pink()
  button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.font-medium.rounded-full.text-white(
    type='button' 
    class='hover_bg-pink-700 focus_outline-none focus_ring-2 focus_ring-offset-2 focus_ring-pink-500 text-base bg-pink-600')&attributes(attributes)
    block
  
